/*#region --> all styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

/*#endregion*/

/*#region --> Header*/
.header_wrapper {
    /*height: 150px;*/
    height: 14.645vh;
    width: 100%;
    position: relative;
    bottom: -0.976vh;
}

.header-top {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 9.37vw;
}

.header-bottom {
    width: 100%;
    height: 40%;
    padding-left: 9.37vw;
    display: flex;
    align-items: center;
}

.nav-header {
    display: flex;
    gap: 2.05vw;
    justify-content: flex-start;
}

.nav-header__link {
    text-decoration: none;
    display: flex;
    width: 5.20vw;
    height: 5.85vh;
    flex-direction: column;
    justify-content: center;
    color: #99A2AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    transition: 0.5s;
}


.nav-header__link:hover {
    transform: scale(1.3);
}

/*#endregion*/

/*#region --> Sections*/

/*#region --> Main panel*/
.section__mainPanel {
    width: 100%;
    /*height: 450px;*/
    height: 43.945vh;
    background-color: #FEC524;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /*overflow: hidden;*/

}


.mainPanel__title__box {
    width: 39.58vw;
    height: 23vh;
    margin-left: 9.375vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.mainPanel__title {
    color: #FFF;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-top: 5.27vh;
}

.mainPanel__title__box > p {
    color: #0E2F4B;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 3.32vh;
}

.mainPanel__services__box {
    width: 83.33vw;
    height: 20.70vh;
    /*border: #0E2F4B 1px solid;*/
    margin-left: 8.33vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 5.37vh;
    gap: 2.08vw;
    padding-left: 1.04vw;
}

.mainPanel__services__box input[type='text'] {
    width: 39.58vw;
    height: 7vh;
    /*display: inline-flex;*/
    /*padding: 0 230px 0 30px;*/
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
    /*margin-left: 135px;*/
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    /*margin-bottom: 55px;*/
    padding-left: 2.08vw;
    border: none;
}

.mainPanel__services__box button {
    position: relative;
    left: -11.45vw;
    top: 0.15vh;
    background-color: #fff;
    border: none;
    padding: 0;
    line-height: 72px;
    width: 8.5vw;
    height: 7vh;
}

.default-btn-content {
    color: #0e2f4b;
    font-size: 20px;
    font-weight: 700;
    display: block;
}

input:focus {
    outline: 0;
    outline-offset: 0;
    border: none;
}

.nav-service-category {
    display: flex;
    gap: 2.08vw;

}


.container__nav-service-category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.66vw;
    width: 18.75vw;
    height: 7.8125vh;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
    transition: 1s;
}

.container__nav-service-category:hover {
    transform: scale(1.3);
    border: 1px solid sandybrown;

}

.nav-service-category_link {
    text-decoration: none;
    color: #99A2AA;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}


/*#endregion*/

/*#region --> Services*/
.section_services {
    width: 100%;
    height: 78.125vh;
    background-color: #F8F8F8;
    /*background-color: #506c96;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.04vw;
}

.first-container-service-category {
    width: 27.77vw;
    height: 61.52vh;
    margin-left: 8.33vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}

.wrapper-for-service-categories {
    width: 53.47vw;
    height: 61.52vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.083vw;
    overflow: hidden;
}

.container-service-categories {
    width: 25.69vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2.929vh;
}

.service-category {
    width: 100%;
    height: 17.578vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


/*.service-category:hover {*/
/*    transform: scale(1.15);*/
/*    transition: transform .8s;*/
/*}*/

.first-category_title {
    color: #0E2F4B;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 3.27vh 0 3.515vh 1.041vw;
}

.first-container-service-category p {
    color: #0E2F4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 1.041vw;
}

.service-category h3 {
    position: absolute;
    color: #0E2F4B;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-left: 2.08vw;
    margin-top: 3.125vh;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.service-category span {
    display: block;
    text-decoration: none;
    color: #0E2F4B;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-top: 1.269vh;
    /*margin-left: 2.08vw;*/

}

/*#endregion*/

/*#region --> Sales export*/
.section_salesExport {
    width: 100%;
    height: 64.45vh;
    background-color: #042C4B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11.718vh 9.375vw 14.648vh 9.375vw;
}

.salesExport-wrapper {
    width: 81.25vw;
    height: 38.085vh;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;

}

.salesExport-wrapper h2 {
    color: #F8F8F8;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-left: 1.041vw;
    margin-top: 3.027vh;
}

.salesExport-wrapper p {
    color: #99A2AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 1.041vw;
    margin-top: 3.515vh;
}

.salesExport-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background: #FDC13D;
    width: 21.180vw;
    height: 7.8125vh;
    text-align: center;
    color: #0E2F4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    margin-left: 2.083vw;
    margin-bottom: 2.083vw;
}

/*#endregion*/

/*#region --> Financial Service*/
.section_financialService {
    width: 100%;
    height: 85.9375vh;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container_financialService {
    width: 83.33vw;
    height: 76.17vh;
    /*border: #ed6556 solid 1px;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.container_financialService__title {
    width: 81.25vw;
    height: 21.48vh;
    border-radius: 10px;
    background: #FDC13D;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: flex-start;

}

.container_financialService__title p:first-child {
    color: #0E2F4B;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-top: 5.078vh;
}

.container_financialService__title p:nth-child(2) {
    color: #0E2F4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 1.17vh;
}

.container_financialService__title > a {
    text-decoration: none;
    color: #0E2F4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 1.46vh;
    margin-bottom: 3.906vh;
}

.container_financialService__title > * {
    margin-left: 5.2083vw;
}

.container_financialService > h2 {
    color: #0E2F4B;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-top: 11.816vh;
}

.container-finService-categories {
    height: 26.367vh;
    /*width: 100%;*/
    /*border: 1px solid #0094f4;*/
    display: flex;
    /*align-items: center;*/
    gap: 2.083vw;
    margin-top: 3.125vh;

}

.finService-category {
    width: 18.75vw;
    height: 100%;
    /*background-color: #1c7b7e;*/
}

.container_financialService > * {
    margin-left: 1.041vw;
}

.finService-category h4 {
    color: #0E2F4B;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-top: 3.125vh;
}

.finService-category a {
    text-decoration: none;
    color: #0E2F4B;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-top: 1.269vh;
}

.finService-category > * {
    margin-left: 2.083vw;
}

/*#endregion*/

/*#region --> find Index*/

.section_findIndex {
    width: 100%;
    height: 62.011vh;
    background-color: #0E2F4B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findIndex-wrapper {
    width: 83.33vw;
    height: 35.64vh;
    /*border: 2px yellow solid;*/
}

.findIndex-wrapper h2 {
    color: #F8F8F8;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-top: 3.027vh;
}

.findIndex-wrapper p {
    color: #99A2AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 2.539vh;
}

.findIndex-wrapper input[type='text'] {
    display: flex;
    width: 35.1375vw;
    height: 7.617vh;
    padding: 0 2.08vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #E8EBEE;
    background-color: #FFF;
    color: #6C757D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.findIndex-wrapper button {
    display: flex;
    width: 17.29vw;
    height: 7.81vh;
    padding: 2.73vh 6.02vw 2.73vh 6.04vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FDC13D;
    color: #0E2F4B;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

.findIndex-wrapper form {
    display: flex;
    align-items: center;
    margin-top: 7.8125vh;
    gap: 0.763vw;
}

.findIndex-wrapper > * {
    margin-left: 1.041vw;
}


/*#endregion*/

/*#region --> News*/
.section_news {
    width: 100%;
    height: 127.34vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.news-wrapper {
    height: 109.76vh;
    width: 83.33vw;
    margin-top: 9.76vh;
    margin-bottom: 7.81vh;
}

.section_news h2 {
    color: #0E2F4B;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-top: 3.02vh;
    margin-left: 1.04vw;

}

.container-news {
    width: 100%;
    height: 51.75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.08vw;
}

.container1-news, .container2-news {
    width: 39.58vw;
    height: 51.75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.08vh;

}

.container-news a {
    width: 39.58vw;
    height: 21.41vh;
    text-decoration: none;
}

.container-news p {
    text-decoration: none;
    align-items: center;
    color: #0E2F4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.container_image {
    display: flex;
    justify-content: flex-start;
}

.container-for-txt-news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 1.38vw;
    margin-top: 3.125vh;

}

.container-for-txt-news p {
    color: #99A2AA;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.container-for-txt-news h3 {
    color: #0E2F4B;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 0.87vh;

}

.container_image img {
    margin: 2.92vh 0 0 2.92vw;
    width: 100px;
    height: 100px;
}

.news-link > p {
    color: #0E2F4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 2.08vw;
    margin-top: 2.34vh;
}

.for-legal-entity {
    width: 100%;
    margin-top: 10.83vh;
}

.flexBox-for-legal-category {
    display: flex;
    gap: 2.08vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20.89vh;
    width: 83.33vw;
    margin-top: 6.054vh;
}

.legal-category {
    width: 25.69vw;
    height: 8.78vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.legal-category a {
    margin-left: 2.77vw;
    color: #99A2AA;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
    text-align: center;

}

.flexContainer-for-category {
    width: 100%;
    display: flex;
    gap: 2.92vh;
    justify-content: center;
    align-items: center;

}

/*#endregion*/

/*#region --> Online Services*/
.section_online-services {
    width: 100%;
    height: 48.82vh;
    background-color: #FEC524;
    display: flex;
    justify-content: center;
    align-items: center;
}

.online-services-wrapper {
    width: 80.55vw;
    height: 35.35vh;
    background-color: transparent;

}

.online-services-wrapper h2 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-top: 3.01vh;
}

.online-services-wrapper p {
    color: #0E2F4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 3.51vh;
}

.online-services-wrapper h4:nth-child(3) {
    color: #0E2F4B;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-top: 2.63vh;
}

.container-for-img-app {
    display: flex;
    margin-top: 1.46vh;
    gap: 1.66vw;

}

.online-services-wrapper h4:nth-child(5) {
    color: #0E2F4B;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-top: 3.8vh;
}

.container-for-social-icon {
    margin-top: 1.46vh;
    display: flex;
    justify-content: flex-start;
    gap: 1.38vw;
}

/*#endregion*/

/*#region --> Footer*/
.footer {
    height: 77.05vh;
    width: 100%;
    background-color: #1D2023;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-wrapper {
    height: 100%;
    width: 83.33vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.footer-menu {

    height: 66.50vh;
    width: 20.83vw;
    padding-left: 1.04vw;
    padding-top: 9.76vh;
    border-bottom: 1px solid #99A2AA;
}

.footer-menu-title {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.footer-menu-links {
    /*height: 100%;*/
    /*width: 100%;*/
    padding-top: 2.24vh;
    display: flex;
    flex-direction: column;

}

.footer-menu-link {
    color: #99A2AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-decoration: none;
}

.footer-menu-links a:nth-child(n+2) {
    margin-top: 1.46vh;
}

/*#endregion*/
/*#endregion*/


