@media screen and (max-width: 480px) {

    .main__container {
        height: 50vh;
        width: 100vw;
    }

    header {
        height: 15%;
    }

    .main {
        flex-direction: column;
        justify-content: space-between;
    }

    .boxes {
        align-items: center;
    }

    .box_C, .box_D, .box_E {
        width: 50%;
        height: 50%;
    }

    nav {
        height: 20%;
        width: 100%;
    }
}
